@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

html {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/*Styles the text for the jumbotron-type section. 
Text-shadow is added where text runs across patterned background.
Different coloured text surrounding the main heading gives a friendly feel*/
.display-4 {
    text-shadow: 2px 2px #212529;
}

.lead {
    font-weight: 400;
    text-shadow: 1px 1px #212529;
}

.text-orange {
    color: #ff8c00;
}

.text-blue {
    color: #00ffff;
}

.text-pink {
    color: #ff69b4;
}

.text-purple {
    color: #ff00ff;
}

.text-yellow {
    color: #ffff00;
}

.text-green {
    color: #adff2f;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*To highlight link text to all users, especially those with mobiles, 
all anchor tags have a bar above the text*/
a {
    text-decoration: overline;
}

/*The hero image covers the viewport and has an opaque layer on top.
This makes the image a bit darker, in order to contrast better with any overlaid text.
This code came from the Code Institute Whiskey Drop walkthrough lessons.
https://github.com/Code-Institute-Solutions/whiskey-drop
*/
.hero-container {
    height: 100vh;
    width: 100%;
    background: url("../images/christian-holzinger-unsplash.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000066;
}

.home-container {
    min-height: 100vh;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 0;
}

.jumbo-text {
    z-index: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.lead a:hover {
    color: #ffffff;
}

.courses-container {
    min-height: 100vh;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
}

/*By default the Bootstrap cards were aligned to the left in their column - used flexbox to centre them*/
.col {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Ensure that the title row covers the full width of the screen*/
.full-width {
    flex-basis: 100%;
    text-align: center;
    z-index: 0;
}

hr {
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px 0 0 0 ;
    width: 100%;
    z-index: 0;
    opacity: 0.75;
}

.full-width p {
    font-size: x-large;
    color: #ffffff;
    text-shadow: 1px 1px #212529;
}

/*Prevent icons from distorting when screen size changes*/
picture {
    display: block;
    margin: 0px auto;
    width: initial;
    height: auto;
}

.card-link {
    color: #212529;
    font-weight: bolder;
}

.card-link:hover {
    color: #ff8c00;
}

.card-body i {
    color: #212529;
    padding-left: 50px;
}

.card-body i:hover {
    color: #ff8c00;
}

.about-container {
    min-height: 100vh;
    height: auto;
}

.about-h2 {
    padding-top: 5rem;
}

.btn-subscribe {
    padding-bottom: 1.5rem;
}

/*Overrides the standard Bootstrap button colours to suit the site colour scheme.
These styles were changed and copied from Chrome developer tools*/
.btn-warning {
    font-weight: 500;
    --bs-btn-color: #212529;
    --bs-btn-bg: #ff8c00;
    --bs-btn-border-color: #ff8c00;
    --bs-btn-active-bg: #ff8c00;
    --bs-btn-active-border-color: #ff8c00;
    --bs-btn-hover-color: #ff8c00;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
}

form {
    z-index: 0;
    color: #ffffff;
    text-shadow: 1px 1px #212529;
    width: 80%;
    font-weight: 400;
}

form h2 {
    font-weight: 300;
}

.confirm-container {
    height: 100vh;
}

.confirm-h2 {
    text-shadow: 1px 1px #212529;
}

footer {
    background-color: #212529;
    color: #ffffff;
    min-height: 50px;
    margin: 0;
}

.social-links {
    text-align: center;
}

.fa-brands,
.fa-envelope {
    color: #ffffff;
}

footer p {
    margin: 0;
}

footer i:hover {
    color: #ff8c00;
}