@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------------Text*/
.display-4 {
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px #000;
}
.lead {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px #000;
}
.text-orange {
    color: #ffa500;
}
.text-blue {
    color:#00ffff;
}
.text-pink {
    color: #ff69b4;
}
.text-purple {
    color: #ff00ff;
}
.text-yellow {
    color: #ffff00;
}
.text-green {
    color: #adff2f;
}


.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}


/*-------------------------------------------------------------Anchor tags*/
a {
    text-decoration: none;
}

/*-------------------------------------------------------------Hero Container*/
.hero-container{
    height: 100vh;
    width: 100%;

    background: url("../images/christian-holzinger-unsplash.webp") no-repeat bottom right fixed; 
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000066;
}

.jumbo-text {
    z-index: 0;
}
.lead a:hover {
    color: #f0f8ff;
}

/*-------------------------------------------------------------Courses page*/

.courses-container {
    min-height: 100vh;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.col {
    display: flex;
    justify-content: center;
}

.card-link {
    color:#000000;
    font-weight: bolder;
}
.card-link:hover {
    color: #ff8c00;
}
.card-body i {
    color: #000000;
    padding-left: 50px;
}
.card-body i:hover {
    color: #ff8c00;
}

/*-------------------------------------------------------------About page*/

.about-container {
    min-height: 100vh;
    height: auto;
}
.about-h2 {
    padding-top: 1.5rem;
}
.btn-subscribe {
    padding-bottom: 1.5rem;
}
form {
    z-index: 0;
    color: #ffffff;
    width: 80%;

    font-family: "Exo", sans-serif;
    font-weight: 400;
}

form h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

/*-------------------------------------------------------------Footer*/
footer {
    background-color: #212529;
    color: #ffffff;
    min-height: 50px;
    margin: 0;
}
.social-links {
    text-align: center;
}
.fa-brands, .fa-envelope {
    color: #ffffff;
}
footer p {
    margin: 0;
}
footer i:hover {
    color: #ff8c00;
}
